	.bar{
		width: 100%;
		margin-bottom: 20px;
	}
	.bar .topBar{
		background: #ed4040 none repeat scroll 0 0;
	    color: #fff;
	    font-size: 13px;
	    height: 24px;
	    line-height: 24px;
	}
	.bar .topBar a{
		color: #fff;
   		padding: 0 16px;
   		border-left: 1px dotted rgba(255, 255, 255, 0.4);
   		text-decoration: none;
	}
	.bar .topBar li:first-child > a{
		border: 0 none;
	}
	.list-inline > li {
    display: inline-block;
    padding-left: 0px;
    padding-right: 5px;
}
	.right{
		float:right;
	}
	.left{
		float: left;
	}
	.midBar{
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
	    height: 58px;
	}
	.midBar .midBarContent{
		margin: 0 auto;
   		width: 1000px;
	}
	.midBarContent .logo{
		float: left;
   		width: 128px;
	}
	.midBarContent .search{
		float: left;
   		width: 600px;
	}
	.midBarContent .date{
		float: right;
	    font-size: 14px;
	    width: 240px;
	}
	.logo h2{
		margin-bottom: 10px;
    	margin-top: 15px;
    	color:#ed4040 ;
	}
	.search .search-form{
		background-color: #f5f6f7;
	    border: 1px solid #e8e8e8;
	    border-radius: 17px;
	    margin-top: 14px;
	    padding: 0 0px 0 16px;
	    height: 30px;
	}
	.search .search-form input{
		background: #f5f6f7 none repeat scroll 0 0;
	    border: 0 none;
	    float: left;
	    font-size: 14px;
	    height: 30px;
	    line-height: 20px;
	    outline: 0 none;
	    padding: 7px 0 7px 0;
	    width: 530px;
	}
	.search .search-form button{
		border: 0 none;
		background:rgba(0,0,0,0);
		width:50px;
		height:25px;
	}
	.date h3{
		margin-top:16px;
	}
	.cannot_select{
		-moz-user-select:none;/*火狐*/
		-webkit-user-select:none;/*webkit浏览器*/
		-ms-user-select:none;/*IE10*/
		-khtml-user-select:none;/*早期浏览器*/
		user-select:none;
}